  nav{
        display:flex;
            height: 50px;
            width: 100%;
            background-color: #21212121;
            align-items: center;
            justify-content: center;
        }
        
        span {
    display: inline-block; /* or "block" */
    border: 5px solid black; /* optional, for visibility */
        }
    
.button {
    display: inline-block;
    height: 100px;
    width: 100px;
}

#green { background-color: green; }
#blue { background-color: blue; }
#red { background-color: red; }
#yellow { background-color: yellow; }

